header#header.site-header 
  div.header-content 
    img.img(src="/img/21280.jpg" alt="logo")
    //-https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTRVAGY0u-MuomhjTqjcWJ7Z-6xDvQYXkVibmhJwPPELvAEcnqP
    h2.header
      
      a(href="/")#site-name  Canada's Agricultural Products
    nav#main-navigation 
      ul
         li
            a(href="/") Home
         li
            a(href="/comment") Add Comments